
*{
  margin: 0;                   /* bemerk */
}


.hero {
top: 0;
left: 0;
position: fixed;
width: 100%;
background-color: transparent;
transition: background-color 0.3s ease-in-out;
overflow: hidden;
font-family: Arial, Helvetica, sans-serif;

}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: -20px;
    padding-left: 5%;
    padding-right: 5%;
    
}
.logo{
color: black;
font-size: 28px;
background-size:cover;
background-position: center;
width: 350px;
height: 70px;
cursor: pointer;
}
nav ul li{
    list-style-type: none;           /* bemerk */
    display: inline-block;           /* bemerk */
    padding: 10px 20px;

}
.hero a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.4 ease-in-out;

}
    li:hover a { 
        color: black; 
   


    }
nav ul li:hover{
    background-color: white;
    border-radius: 10px;
    color: black;

}
.button_1{
    border: none;
    background: blue;
    padding: 12px 30px;
    border-radius: 30px;
    color: white ;
    font-weight: bold;
    font-size: 15px;
    transition: .4s;

}
.button_1:hover{
    transform: scale(1.3);      /* bemerk */
    cursor: pointer;
}
li.dropdown {
    display: inline-block;  /* sånn at de er under hverandre ikke ved siden av  */   /* bemerk */
  }
  .dropdown-content {
    display: none;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    position: fixed;
    margin-top: 10px;
    z-index: 1;                         /* bemerk */
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;


  }
  .dropdown-content a:hover {background-color: #7cf3a4}
  
  .dropdown:hover .dropdown-content {  /* spesifiserer for når mus er på dropdown-contont */
    display: block;   
  }



.hero.scrolled {
    background-color: white;
    z-index: 10;

}
.hero.scrolled a{
    color: black;
    
}

.hero.scrolled nav {
    height: 58px;
}

.hero.scrolled .logo {
    height: 90px;
}



.bak-video{
    position: absolute;           
    bottom: 0;
    z-index: -1;                    /* bemerk */
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    height: 1000px; 
  
}



.tittel {
   
    text-align: center;
    font-size: 230px;
    color: #fff;
    font-weight: 600;
    z-index: -1;              
    transition: 0.5s;
    margin-top: 22%;
  
}
.tittel:hover{
    -webkit-text-stroke: 2px #fff;      /* bemerk */
    color: transparent;
    

}




.intro {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: 510px;
    font-family:Arial, Helvetica, sans-serif;
    margin: 140px;

 

}


.avslutning {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    position: absolute;
    width: 100%;
    height: 450px;
    color: white;
    top: 350px; 
    gap: 10px;
    right: 0;

   
  }

  .avslutning>a{
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 10px;  
    height: 400px;
    
    
  }

.avslutning>a:hover {

    filter: brightness(65%);     /* bemerk */
    

}
  .b {
    grid-column: 1/2;
    grid-row: 1/2;
    background-image: url(bilder/resturant.jpg);
    background-size: 100%;
    

  }

  .c {
    grid-column: 2/3;
    grid-row: 1/2;
    background-image: url(bilder/11\ Best\ Places\ to\ Visit\ in\ Lahore\,\ Pakistan_\ A\ Complete\ City\ Guide.jpeg);
    background-size: 100% 100%; 

  }

  .d {
    grid-column: 3/4;
    grid-row: 1/2;
    background-image: url(bilder/A\ shop\ in\ side\ the\ Walled\ City\ Lahore\,\ Pakistan.jpeg);
    background-size: 100% 100%;

  }

  .e {
    grid-column: 4/5;
    grid-row: 1/2;
    background-image: url(bilder/art\ and\ culture.jpeg);
    background-size: 100% 100%;

  }



.tekst{
    color: rgb(170, 170, 170);
}



.f{                         /* bemerk  I hans sin vil det stå "blog"*/

    grid-column: 1/2;
    grid-row: 1/2;

   

}
.g{

    grid-column: 2/3;
    grid-row: 1/2;
}

.h{

    grid-column: 3/4;
    grid-row: 1/2;
   
}

.i{
    grid-column: 1/2;
    grid-row: 2/3;
   
}


.j{
  
    grid-column: 2/3;
    grid-row: 2/3;
    background-size: 100% 100%;
}


.k{
    grid-column: 3/4;
    grid-row: 2/3;


}
.button_2{
    position: absolute;                   
    text-align: center;
    top: 1150px;
    width: 100%;
}

.button_2>button{
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    height: 50px;
    width: 150px;
    text-align: center;
}

.button_2>button:active {
    transform: translate(1px, 1px);       /* bemerk */
  }

  .button_2>button:hover{
    background-color: green;
    color: white;
    cursor: pointer;
  }

.attractions_start{
    text-align: center;
    height: 250px;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5%;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: lightgray solid 6px;
}

.attractions{
    text-align: center;
    margin-top: 110px;
    height: 1000px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    margin-left: auto ;
    margin-right: auto ;
    
}
  

.attractions_tekst{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    height: 1000px;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    width: 90%;
    margin-left: 5% ;
    margin-right: 5% ;
    margin-top: 100px;
 
   
  }

  .attractions_tekst>a{
    text-align: center;
    color: black;
    text-decoration: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    transition: 0.3s ease-in-out ;                      /* bemerk */
    margin: 40px;
    height: 350px;
   
    
  }

.tekst{
    color: rgb(170, 170, 170);
}


.attractions_tekst>a:hover {

    filter: brightness(75%);
    transform: scale(1.1); 
    cursor: pointer;

}


.l{

    grid-column: 1/2;
    grid-row: 3/4;


}
.m{

    grid-column: 2/3;
    grid-row: 3/4;
   
}

.n{

    grid-column: 3/4;
    grid-row: 3/4;
 
   
}














  

.avslutning_2 {
    text-align: center;
    height: 650px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    margin-left: auto ;
    margin-right: auto ;
    margin-top: -20%;
    
   
  }

.avslutning_2_tekst{ 
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: 0.1fr 1fr ;
  font-family:Arial, Helvetica, sans-serif;
  width: 80%;
  margin-left: 10% ;
  margin-right: 10% ;
  margin-top: 520px;
  height: 650px;
  gap: 20px;



}

  .avslutning_2_tekst>a{
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 10px;  
   
    
    
  }

.avslutning_2_tekst>a:hover {
    filter: brightness(65%);
    

}
  .avslutning_2_b {
    grid-column: 1/2;
    grid-row: 2/3;
    background-image: url(bilder/resturant.jpg);
    background-size: 100% 100%;
  }
    
  
   

  


  .avslutning_2_d {
    grid-column: 2/3;
    grid-row: 2/3;
    background-image: url(bilder/A\ shop\ in\ side\ the\ Walled\ City\ Lahore\,\ Pakistan.jpeg);
    background-size: 100% 100%;

  }

  .avslutning_2_e {
    grid-column: 3/4;
    grid-row: 2/3;
    background-image: url(bilder/art\ and\ culture.jpeg);
    background-size: 100% 100%;

  }

  .avslutning_2_tittel{
    grid-column: 1/4;
    grid-row: 1/2;
    text-align: center;
  }

  .nederst_2{
    width: 100%;
    height: 300px;
    background-color: #333;
    margin-top: 10%;

  }

.blog_artikler{
  text-align: center;
  width: 100%;
  margin-left: auto ;
  margin-right: auto ;
  margin-top: 10%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  
 
}

.blog_artikler_tekst{
  text-align: center;
  width: 100%;
  margin-left: auto ;
  margin-right: auto ;
  margin-top: 30px;
}